body {
    background-color: #D0B49F;
    font-family: Georgia, Times, serif;
}

#navbar {
    background-color: #E4D4C8;
    padding: 15px;
    margin: 25px 120px;
    color: #618685;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: #523A28;
}

#navbar a:hover {
    background-color: #f5deb3;
    padding: 10px 20px; /* Keep the padding consistent on hover */
}

section {
    background-color: #edc9af;
    margin: 15px auto;
    max-width: 850px;
    border: 8px solid transparent; /* Add a border style */
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto; /* Allow images to maintain their aspect ratio */
    display: block;
    margin: 15px auto; /* Center align the images */
}
